#btns{
    margin-top: 30px; 
    
    background-color: aliceblue ;
    color: #000;
    align-items:baseline ;

}
.banner-card{
  position: relative;
}

.banner-card img{
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


}
.banner-text{
  position: absolute;
  font-family: "Sofia", sans-serif;
  top: 10px;
  padding-left: 40%;
  color: white;
  text-align: center;
  flex-direction: column;

  
}
.banner-text h4{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

}


.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

